<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.brainstormideas.apptomar">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AppTomar"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppTomar"
        tools:targetApi="31">
        <activity
            android:name="com.brainstormideas.apptomar.ui.screens.SplashScreen"
            android:exported="false" />
        <activity
            android:name="com.brainstormideas.apptomar.ui.screens.ResetPasswordScreen"
            android:exported="false" />
        <activity
            android:name="com.brainstormideas.apptomar.ui.screens.ConfirmationScreen"
            android:exported="false" />
        <activity
            android:name="com.brainstormideas.apptomar.ui.screens.PaymentScreen"
            android:exported="false" />
        <activity
            android:name="com.brainstormideas.apptomar.ui.screens.StoreMapScreen"
            android:exported="false" />
        <activity
            android:name="com.brainstormideas.apptomar.ui.screens.CategoriesScreen"
            android:exported="false" />
        <activity
            android:name="com.brainstormideas.apptomar.ui.screens.ProfileScreen"
            android:exported="false" />
        <activity
            android:name="com.brainstormideas.apptomar.ui.screens.RegisterScreen"
            android:exported="false" />
        <activity
            android:name="com.brainstormideas.apptomar.ui.screens.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.brainstormideas.apptomar.ui.screens.LoginScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>